/* Variables */

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;

/* Mixins */

@mixin center_content {
    margin: 0 auto;
}

@mixin center_title($verticale, $horizontale) {
    margin: $verticale $horizontale;    
}

@mixin circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #9356DC;
    color: white;
    text-align: center;
}

img {
    width: 80%;
}
/* Page générale */

body {
    font-family: 'Roboto';
    margin: 0px;
}

/* Header */

header {
    border-bottom: 3px solid rgb(204, 204, 204);
    padding-bottom: 10px;
    & img{
        display: block;
        @include center_content;
        width: 130px;
        margin-top: 20px;
    }
}

/* Localisation */


.localisation {
    text-align: center;
    margin: 0px;
    padding: 10px;
    background-color: rgb(223, 223, 223);
    font-size: 15px;
    & .fas {
        margin-right: 5px;
    }
}

/* Titre */

.cont-titre {
    background-color: rgb(241, 241, 241);
    padding-bottom: 40px;
    & h1 {
        padding-top: 30px;
        font-size: 21px;
        text-align: center;
        $verticale: 0px;
        $horizontale: 40px;
        @include center_title($verticale, $horizontale);
    }
    & p {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 14px;
        text-align: center;
        font-weight: lighter;
        $verticale: 0px;
        $horizontale: 20px;
        @include center_title($verticale, $horizontale);
    }
}

.cont-titre__btn p{
    color: white;
    font-weight: normal;
    font-size: 14px;
    background: linear-gradient($color-secondary,$color-primary);
    border-radius: 30px;
    padding: 14px;
    width: 50%;
    @include center_content;
    box-shadow: 0px 5px 10px rgb(184, 184, 184);
}

/* Menu de navigation */

.cont-nav{
    margin: 0 10px;
    & h2 {
        font-size: 21px;    
    }
    & nav {
        margin-left: 10px;
    }
}

.cont-list {
    display: flex;
    align-items: baseline;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 5px 10px rgb(184, 184, 184);
    padding: 5px;
    border-radius: 20px;
    margin-top: 20px;
    &--circle {
        @include circle();
        margin-left: -12px;
    }
    & .fas {
        margin-left: 15px;
        color: grey;
    }
    &__text {
        margin-left: 15px;
    }
}