@import "./Utils/variables";
@import "./Utils/mixins";
@import "./base/base";


/* Loader */

.loader {
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity 2s both;
}

.main-accueil, .footer-accueil {
    opacity: 0;
    animation: opacityreverse 3s both;
}

@keyframes opacityreverse {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    } 
}

.loader > span {
    display: inline-block;
    background-color: $color-primary;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2){
    background-color: $color-secondary;
    animation-delay: 0.2s;
}

.loader > span:nth-child(3){
    background-color: $color-tertiary;
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}

/* Header */

.header__accueil {
    border-bottom: 3px solid rgb(204, 204, 204);
    padding-bottom: 10px;
    & .img__accueil{
        display: block;
        @include center_content;
        width: 130px;
        margin-top: 20px;
    }
}

/* Localisation */


.localisation {
    text-align: center;
    margin: 0px;
    padding: 10px;
    background-color: rgb(223, 223, 223);
    font-size: 15px;
    & .fas {
        margin-right: 5px;
    }
}

/* Titre */

.cont-titre {
    background-color: rgb(241, 241, 241);
    padding-bottom: 40px;
    & h1 {
        padding-top: 30px;
        font-size: 21px;
        text-align: center;
        $verticale: 0px;
        $horizontale: 40px;
        @include center_title($verticale, $horizontale);
    }
    & p {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 14px;
        text-align: center;
        font-weight: lighter;
        $verticale: 0px;
        $horizontale: 20px;
        @include center_title($verticale, $horizontale);
    }
}

.cont-titre__btn p{
    color: white;
    font-weight: normal;
    font-size: 14px;
    background: linear-gradient(175deg,$color-secondary,$color-primary);
    border-radius: 30px;
    padding: 14px;
    width: 50%;
    @include center_content;
    box-shadow: 0px 5px 10px rgb(184, 184, 184);
    max-width: 200px;
}

/* Menu de navigation */

.cont-nav{
    margin: 0 10px;
    margin-top: 40px;
    margin-bottom: 60px;
    & h2 {
        font-size: 21px;    
    }
    & nav {
        margin-left: 10px;
    }
}

.cont-list {
    display: flex;
    align-items: baseline;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 5px 10px rgb(184, 184, 184);
    padding: 5px;
    border-radius: 20px;
    margin-top: 20px;
    &--circle {
        @include circle();
        margin-left: -12px;
    }
    & .fas {
        margin-left: 15px;
        color: grey;
    }
    &__text {
        margin-left: 15px;
    }
}

/* Partie restaurants */

main {
    background-color: rgb(241, 241, 241);
    padding-bottom: 40px;
    & h2 {
        font-size: 21px;
        margin-left: 10px;
    }
    & #restaurants {
        padding-top: 40px;
    }
}

.cont-restaurants {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    &__capsule {
        position: relative;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 5px 10px rgb(184, 184, 184);
    }
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    & .cont-text {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & .far {
        margin-right: 20px;
        font-size: 25px;
        &:hover {
            display: none;
        }
    }
    & .fa-animate{
        font-size: 25px;
        position: absolute;
        right: 20px;
        opacity: 0;
        background: linear-gradient(to top,#ff79da,#9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        &:hover {
            transition: all 450ms;
            opacity: 1;

        }
    }
    & .cont-new {
        position: absolute;
        background-color: $color-tertiary;
        top: 10px;
        right: 10px;
        font-size: 13px;
        padding: 5px 5px;
    }
    & h3 {
        margin-bottom: 0px
    }
    & p {
        margin-top: 5px;
        font-weight: 100;
    }

}

/* Footer */

footer {
    background-color: rgb(43, 43, 43);
    color: white;
    position: absolute;
    width: 100%;
    padding-bottom: 15px;
    & h4 {
        font-family: 'Shrikhand';
        font-weight: lighter;
    }
    & .foot-title {
        margin-left: 20px;
    }
    & .foot-cont {
        margin-left: 20px;
    }
}

.foot-cont p {
    font-size: 15px;
    margin-top: -8px;
}

/* Annimation */


/* PAGE MENU */

/* Header */

.header__menu {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    & .img__menu {
        width: 130px;
    }
}
.header__center {
    @include center_content;
}

/* Image background */

.menu__img img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

/* Section menu */

.menu {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    & h2 {
        font-family: 'Shrikhand';
    }
    &__nom {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        margin: 0 -20px;
        margin-top: -35px;
        background:  rgb(241, 241, 241);
        border-radius: 30px 30px 0px 0px;
    }
    & .far {
        padding-right: 10px;
        font-size: 20px;
    }
    
}

.menu__entrée {
    margin-bottom: 40px;
}

.menu__plats {
    margin-bottom: 40px;
}

.menu__titre {
    font-size: 12px;
    border-bottom: 3px solid $color-tertiary;
    width: 15%;
    margin-bottom: 15px;
}

.menu__list--border {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    box-shadow: 0px 5px 10px rgb(218, 217, 217);
    cursor: pointer;
    & p {
        font-weight: lighter;
    }
}

.menu__list--display {
    margin: 0 10px;
    & p {
        margin-top: -10px;
    }
}

/* ANIMATION VALIDATION MENU */

.box__encoche{
    display: none;
    background-color: $color-tertiary;
    opacity: 0;
    width: 0%;
    padding-top: 15px;
    right: 0;
    border-radius: 0 15px 15px 0;
}

.menu__list--border:hover .box__encoche{
    display: inline-block;
    animation: slideleft 500ms ease-out both;
}

@keyframes slideleft {

    100%{
        width: 20%;
        opacity: 1;
    }
}

.fa-check{
    margin-left: 30%;
    margin-bottom: 17px;
    font-size: 20px;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    color: $color-tertiary;
    transition: transform 350ms;

}

.menu__list--border:hover .fa-check{
    animation: rotate 350ms both;
    animation-delay: 100ms;
}

@keyframes rotate {
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.btn__commander {
    color: white;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    background: linear-gradient(175deg,$color-secondary,$color-primary);
    border-radius: 30px;
    padding: 1px;
    width: 50%;
    @include center_content;
    box-shadow: 0px 5px 10px rgb(184, 184, 184);
    margin-top: 30px;
    max-width: 200px;
}

/* Animation Apparition Menu */
.menu__titre{
    animation: slideup 0.4s both;
    animation-delay: 0.1s;
}
.menu__entrée {
    animation: spawn 1s both;
}
.menu__plats {
    animation: spawn 2s both;
}
.menu__desserts{
    animation: spawn 3s both;
}

@keyframes spawn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.menu__list--border {
    animation: slideup 0.4s ease-in-out both;
    animation-delay: 0.1s;
}

.menu__list--border:nth-child(2) {
    animation-delay: 0.15s;
}
.menu__list--border:nth-child(3){
    animation-delay: 0.2s;
}
.menu__list--border:nth-child(4){
    animation-delay: 0.25s;
}

@keyframes slideup {
    0%{
        position: relative;
        top: 30px;
    }
    100%{
        position: relative;
        top: 10px;
    }
}

/* Responsive */

@media screen and (min-width: 700px ){
    nav {
        display: flex;
        justify-content: space-around;
    }
    .cont-list {
        width: 30%;
        max-width: 350px;
    }

    .cont-restaurants {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cont-restaurants__capsule {
        width: 49%;
    }

    .test {
        max-width: 450px;
        margin: auto;
    }

    footer .foot-cont,footer .foot-title {
        margin-left: 0px;
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1500px) {

    .cont-restaurants{
        max-width: 1450px;
        margin: auto;
    }

    nav{
        justify-content: center;
    }

    .cont-list {
        margin-left: 40px;
    }

    .cont-nav h2 {
        text-align: center;
    }

    #restaurants {
        text-align: center;
    }

    .display__desctop{
        display: flex;
        justify-content: space-around;
    }
    
    .test {
        margin: 0px;
        max-width: none;   
        
    }

    .menu__nom {
        margin: 0;
        margin-top: -35px;
        background: white;
    }

    .menu__list--border {
        font-size: 14px;
    }

    main {
        background-color: white;
    }
}